.top-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #e4f9f5;
    font-family: 'Averia Libre', cursive;
    font-family: 'Borel', cursive;
    font-family: 'Fasthand', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Victor Mono', monospace;
}
.top-container > h1{
    color: black;
}
#intro{
    font-family: 'Averia Libre', cursive;
    font-family: 'Borel', cursive;
    font-family: 'Fasthand', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Victor Mono', monospace;
}
img{
    height: 160px;
    width:160px;
    border-radius:50%;
}
#skills{
    font-family: 'Averia Libre', cursive;
    font-family: 'Borel', cursive;
    font-family: 'Fasthand', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Victor Mono', monospace;
}
#projects{
   
        font-family: 'Averia Libre', cursive;
        font-family: 'Borel', cursive;
        font-family: 'Fasthand', cursive;
        font-family: 'Libre Baskerville', serif;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Victor Mono', monospace;
}
#resume{
    
    font-family: 'Averia Libre', cursive;
    font-family: 'Borel', cursive;
    font-family: 'Fasthand', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Victor Mono', monospace;
}
#footer{
     
    font-family: 'Averia Libre', cursive;
    font-family: 'Borel', cursive;
    font-family: 'Fasthand', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Victor Mono', monospace;
}